@font-face {
    font-family: 'Borna Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Borna Medium'), url('../fonts/borna-medium.woff') format('woff');
}

@font-face {
    font-family: 'Switzer Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Switzer Regular'), url('../fonts/Switzer-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Switzer Light';
    font-style: normal;
    font-weight: normal;
    src: local('Switzer Light'), url('../fonts/Switzer-Light.woff') format('woff');
}

h1 {
    font-size: 2.625rem;
    /* 42px */
    font-family: 'Borna Medium';
}

h3 {
    font-size: 1.5rem;
    /* 24px */
    font-weight: normal;
    font-family: 'Switzer Regular';
}

h3>b{
    font-weight: bolder;
}

p {
    font-size: 1rem;
    /* 16px */
    font-family: 'Switzer Light';
    opacity: 0.8;
}

.borna {
    font-family: 'Borna Medium';
}

.switzer {
    font-family: 'Switzer Regular';
}

.switzer-light {
    font-family: 'Switzer Light';
}

@media (max-width:1281px) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.25rem;
    }
}

@media (max-width:481px) {
    h1 {
        font-size: 1.375rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.75rem;
    }
}